body{
background-color: paleturquoise;
text-align: center;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: underline;

}
p{
  border: 2px solid black;
    padding: 10px; 
      width: 600px;
text-align: center;
margin-left: 400px;
font-size: 20px


}
img{ margin-left:auto;
    margin-right:auto;
    width: 25%
}