body{
background-color: paleturquoise;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: underline;

}
p{
  border: 2px solid black;
    padding: 10px; 
      width: 40%;
margin-left: 400px;
font-size: 20px


}
img{ 
    width: 25%
}