body{
background-color: paleturquoise;
text-align: center;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
p{
    width: 1000px;
text-align: center;
margin-left: 400px;
font-size: 20px
}
img{ margin-left:auto;
    margin-right:auto;
    width: 25%
}