body{
background-color: mediumseagreen;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: underline;

}
p{
 text-align: center;
    margin-left: auto;
    margin-right: auto;
  border: 2px solid black;
    padding: 10px; 
      width: 40%;
font-size: 30px



}
img{ 
    float: left;
  margin-right: 15px; 
  width: 100px; 
  width: 25%
     
}
h4{ text-align:center;}
span{
  margin-left: 15px; 
  width: 150px; 
  width: 35%;
   float:center;
 
}
h3{ text-align:center;}