body{
background-color: lavender;
text-align: center;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  border: 2px solid black;
    padding: 10px; 
      width: 40%;
font-size: 20px
}
img{
     float: left;
     width: 100px; 
  width: 25%

}
span{
  width: 100px; 
  width: 25%;
}