body{
background-color: deepskyblue;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
p{
    width: 1000px;
text-align: center;
margin-left: 400px;
}
{span
    text-align: right;
}